@model AccountUser
@{
    ViewBag.Title = "Index";
}

<h2>Informações de @Model.Name</h2>

@using (@Html.BeginForm("Index", "Account", FormMethod.Post, new { @class = "form-stacked"}))
{
    @Html.EditorForModel()
    
    <div class="well">
        <input type="submit" value="Guardar" class="btn primary"/>
        @Html.ActionLink("Cancelar", "Index", "Home", null, new { @class = "btn danger"})
    </div>
}

@{
    if (Roles.GetRolesForUser(Model.Number).Contains("admin"))
    {
        <table title="Utilizadores">
            <thead>
                <tr><th>Número</th><th>Roles</th><th>Opções</th></tr>
            </thead>
            <tbody>
            @{
        foreach (mvc.Models.InternalUser user in mvc.Models.MvcNotMembershipProvider.GetAllUsers())
        {
            var userRoles = Roles.GetRolesForUser(user.Number);
                    <tr>
                        <td>@user.Number</td>
                        <td>@using (Html.BeginForm("UpdateRole", "Account", new { id = user.Number}, FormMethod.Post))
                            {
                                @Html.DropDownList("Roles",
                                    Roles.GetAllRoles().Select(
                                         role => new SelectListItem
                                         {
                                             Value = role,
                                             Text = role,
                                             Selected = userRoles.Contains(role)
                                         }))
                                <input type="submit" value="Actualizar" class="btn" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("Remove", "Account", new { id = user.Number }, FormMethod.Post))
                            {
                                <input type="submit" value="Remover Conta" class="btn danger" />
                            }
                        </td>
                    </tr>
        }
            }
            </tbody>
        </table>
    }
    else {
        using (Html.BeginForm("Remove", "Account", new { id = Model.Number }, FormMethod.Post))
        {
            <input type="submit" value="Remover Conta" class="btn danger" />
        }
    }
}
