@model Proposal

@{
    ViewBag.Title = String.Format("Editar a Proposta {0}", Model.Key);
}

<h2>Editar proposta @Model.Key</h2>

<div>
@using (Html.BeginForm("Edit", "Prop", FormMethod.Post, new { @class = "form-stacked" }))
{
    @Html.HiddenFor(m => m.Key)
    @Html.HiddenFor(m => m.Owner)
    @Html.HiddenFor(m => m.State)
    
    @Html.EditorFor(m => m.Info)
    @* Html.RenderPartial("CurricularUnitEdit", Model.Info); *@
    <input type="submit" value="Guardar" class="btn primary" />
    @Html.ActionLink("Cancelar", "Details", new { Id = Model.Key }, new { @class = "btn danger" })
}
</div>
