@model TableViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span16">
        <h2>Lista de propostas</h2>
    </div>
    @{
        ViewBag.Action = "Index"; ViewBag.Controller = "Prop"; ViewBag.Method = FormMethod.Get; 
        Html.RenderPartial("NumberPageResults");}
</div>
<table class="zebra-striped">
    <thead>
        <tr>
            <th></th>
            <th>@Html.ActionLink("Id","Index", new {page = 1, pageSize = ViewBag.PageSize, orderBy = ViewBag.IdSort})</th>
            <th>@Html.ActionLink("Acrónimo", "Index", new { page = 1, pageSize = ViewBag.PageSize, orderBy = ViewBag.AcrSort })</th>
            <th>@Html.ActionLink("Nome", "Index", new { page = 1, pageSize = ViewBag.PageSize, orderBy = ViewBag.NameSort })</th>
            <th>Obrigatória</th>
            <th>@Html.ActionLink("Ects", "Index", new { page = 1, pageSize = ViewBag.PageSize, orderBy = ViewBag.EctsSort })</th>
            <th>@Html.ActionLink("Criador", "Index", new { page = 1, pageSize = ViewBag.PageSize, orderBy = ViewBag.OwnerSort })</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody id="paginated-content">
        @{ Html.RenderPartial("ProposalsTableContent", Model.Items as IEnumerable<Proposal>); }
    </tbody>
</table>
<h4 id="loading-info"></h4>
@Html.PageLinks(Model.PagingInfo, (i, j) => Url.Action("Index", new { page = i, pageSize = j, orderBy = ViewBag.OrderBy}))