@model TableViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span16">
        <h2>Lista das Unidades Curriculares</h2>
    </div>
    <div class="span4">
        <label for="pageSize">Mostrar:</label>
        @using (Html.BeginForm("Index", "Fuc", FormMethod.Get))
        {
            <div class="input">
                <select class="input-mini" name="pageSize" id="pageSize">
                    <option value="0">Tudo</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
        }
    </div>
</div>
<table class="zebra-striped">
    <thead>
            <tr>
            <th></th>
            <th>@Html.ActionLink("Acrónimo", "Index", new { page = 1, pageSize = ViewBag.PageSize, orderBy = ViewBag.AcrSort })</th>
            <th>@Html.ActionLink("Nome", "Index", new { page = 1, pageSize = ViewBag.PageSize, orderBy = ViewBag.NameSort })</th>
            <th>Obrigatória</th>
            <th>@Html.ActionLink("Ects", "Index", new { page = 1, pageSize = ViewBag.PageSize, orderBy = ViewBag.EctsSort })</th>
        </tr>
    </thead>
    <tbody id="paginated-content">
        @{ Html.RenderPartial("CurricularUnitsTableContent", Model.Items as IEnumerable<CurricularUnit>); }
    </tbody>
</table>
<h4 id="loading-info"></h4>
@Html.PageLinks(Model.PagingInfo, (i, j) => Url.Action("Index", new { page = i, pageSize = j, orderBy = ViewBag.OrderBy}))

@if (User.Identity.IsAuthenticated) {
    <div class="well">
        @Html.ActionLink("Criar proposta para nova Unidade Curricular", "New", "Fuc", null, new { @class = "btn" })
    </div>    
}
 