@model TableViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span16">
        <h2>Lista das Unidades Curriculares</h2>
    </div>
    @{
        ViewBag.Action = "Index"; ViewBag.Controller = "Fuc"; ViewBag.Method = FormMethod.Get;
        Html.RenderPartial("NumberPageResults");}
</div>
<table class="zebra-striped">
    <thead>
            <tr>
            <th></th>
            <th>@Html.ActionLink("Acrónimo", "Index", new { page = 1, pageSize = ViewBag.PageSize, orderBy = ViewBag.AcrSort })</th>
            <th>@Html.ActionLink("Nome", "Index", new { page = 1, pageSize = ViewBag.PageSize, orderBy = ViewBag.NameSort })</th>
            <th>Obrigatória</th>
            <th>@Html.ActionLink("Ects", "Index", new { page = 1, pageSize = ViewBag.PageSize, orderBy = ViewBag.EctsSort })</th>
        </tr>
    </thead>
    <tbody id="paginated-content">
        @{ Html.RenderPartial("CurricularUnitsTableContent", Model.Items as IEnumerable<CurricularUnit>); }
    </tbody>
</table>
<h4 id="loading-info"></h4>
@Html.PageLinks(Model.PagingInfo, (i, j) => Url.Action("Index", new { page = i, pageSize = j, orderBy = ViewBag.OrderBy}))

@if (User.Identity.IsAuthenticated) {
    <div class="well">
        @Html.ActionLink("Criar proposta para nova Unidade Curricular", "New", "Fuc", null, new { @class = "btn" })
    </div>    
}
 